/************** Créer Questions *************************/
label{
    font-size: 20px; 
    font-weight: bold; 
    margin-left: 5px; 
    margin-top: 5px;
}
.question{
    width: 68%; 
    height: 40px;
    margin-top: -10px; 
    background-color: #f2f2f2; 
    border: 1px solid cadetblue; 
    box-shadow: 2px 2px 2px cadetblue; 
    margin-left: 5px; 
    border-radius: 2px;
}
input[type="number"]{
    width: 13%; 
    height: 35px; 
    margin-top: 20px; 
    background-color: #f2f2f2; 
    border: 1px solid cadetblue; 
    box-shadow: 2px 2px 2px cadetblue; 
    text-align: center; 
    margin-right: 275px; 
    border-radius: 2px;
}
input[type="submit"]{
    background-color: #51bfd0; font-size: 17px;
    font-family: 'open Sans'; 
    width: 100px; 
    height: 35px; 
    color: #f8fdfd; 
    border-radius: 3px; 
    border: 1px solid silver; 
    margin-top: 10px; 
    margin-left: 375px;
}
select{
    width: 55%; 
    height: 40px; 
    font-size: 17px; 
    font-family: 'open Sans';
    margin-top: 22px; 
    background-color: #f2f2f2; 
    border: 1px solid cadetblue; 
    box-shadow: 2px 2px 2px cadetblue; 
    margin-right: 60px; 
    border-radius: 2px;
}
.btn{
    width: 50px;
    height: 40px;
    float: right; 
    margin-top: -40px; 
    margin-right: 8px;
    /*color: #f8fdfd;*/
    font-size: 35px;
    background-color: #f8fdfd;
    border: none;
    border-radius: 5px;
    
}
.row{
    padding: 10px;
}
.inputGenerer{
    width: 60%;
    margin-top: 20px;
}